body{
	font-size: .875rem;
}

.sidebar{
	padding-top:42px;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

main {
    padding-top: 48px;
}

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
